* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
    ;
}


.main {
    
    display: flex;
    
}

.main .left{
    background: url(./lohp_en_1302x955.png);
    background-size: contain;
    width: 54%;
    height: calc(100vh - 66px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left svg {
    width: 38%;
}

.main .right{
    width: 46%;
    height: calc(100vh - 54px);
    display: flex;
    justify-content: left;
    align-items: center;

}

.header-text {
    font-size: 64px;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 16px;
}

.header3-text{
    font-size: 32px;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 16px;
    text-align: left;
}

.header5-text{
    font-size: 16px;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 16px;
}

.right-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: stretch;
}

.login-btn {
    border: 1px solid #dadce0;
    border-radius: 25px;
    font-size: 14px;
    width: 320px;
    height: 36px;
    font-family: "Google Sans",arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #dadce0;
}

.blue-login {
    background-color: rgb(29, 155, 240);
    color: #dadce0;
}

.blue-login:hover {
    background-color: rgb(13, 126, 201);
}

.black-login {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.black-login:hover {
    background-color: rgb(20, 20, 20);
}

.divider-or {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 320px;
}

.divider-text{
    margin: 0px 4px;
}
.divider-side {
    border: 1px outset rgba(0, 0, 0, 0.068);
    width: 45%;
    height: 0px;
    background-color: rgb(239, 243, 244);
}

.terms-of-service {
    font-size: 11px;
    color: grey;
    width: 320px;
    margin: 8px;
}

.terms-of-service a {
    text-decoration: none;
    color: rgb(29, 155, 240);
}

.terms-of-service a:hover {
    text-decoration: underline;
}

.login-account {
    margin-top: 32px;
}

footer {
    text-align: center;
    justify-content: center;
    margin: 8px;
    padding: 6px 8px;
    display: flex;
    flex-direction: row;
}

footer a {
    text-decoration: none;
}
.footer-item {
    margin: 0px 12px;
    text-decoration: none;
    font-size: 13px;
    color: rgb(83, 100, 113);
}

footer a:hover {
    text-decoration: underline;
}

