.hashtag {
    background-color: rgb(194, 213, 229);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.4s;
    padding: 16px 0px;
}

.hashtag:hover {
    background-color: rgb(137, 159, 177);
}

.hash_left{
    margin: 0 0 0 16px;
}

.hash_type{
    font-size: 14px;
    font-weight: 300;
}

.hash_qeett{
    font-size: 14px;
    font-weight: 300;
}