* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.item-wraper {
    width: 100%;
    display: flex;
    margin: 8px 0px;
}

.side-bar-item {
    width: auto;
    padding: 0px 8px;
    margin: 0px 16px;
    height: 46px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.side-bar-item:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.icon-container{
    width: 28px;
    height: 28px;
    color: rgb(0, 128, 255);
}

.icon-container svg{
    color: rgb(0, 128, 255);
}