.backdrop {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-block {
    min-width: 600px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    width: 30%;
    height: 70vh;
    border-radius: 25px;
    align-items: stretch;
    display: flex;
    flex-direction: column;

}

.sign-in-top {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-top svg {
    width: 6%;
    height: 60px;
}

.top-left {
    width: 47%;
}

.top-left svg {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 8px;
}

.top-left svg:hover {
    background-color: #dadce0;
}
.top-right {
    width: 47%;
}

.sign-in-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input-txt {
    width: 320px;
    border: 1px solid;
    padding: 16px;
    border-radius: 5px;
}
.question {
    font-weight: 400;
    font-size: 16px;
}

.question a {
    color: rgb(29, 155, 240);
    text-decoration: none;
}
.question a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:700px){
    .backdrop {
        width: 100%;
        height: 100vh;
        overflow: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 100vh;
        right: 0;
    }

    .sign-in-block {
        min-width: 600px;
        background-color: rgb(255, 255, 255);
        z-index: 1;
        width: 30%;
        height: 100vh;
        border-radius: 25px;
        align-items: stretch;
        display: flex;
        flex-direction: column;
    
    }
}